$cWhite: white;
$cBlack: rgb(131, 119, 119);
.container {
  text-align: center;
}
.btn {
  z-index:1;
  background-color: white;
  color: black; /* ブラウザのデフォルトで黒だかあえて指定する*/
  border: 1px solid black;
  /*  上 右 下 左 上から時計回りで指定する*/
  /* padding: 10px 40px 10px 40px;  */

  /* 「上下」「左上」 から時計回りで指定する */
  padding: 10px 40px; /* 内側の余白*/
  /* padding: 10px ;  「上下左上」 から時計回りで指定する */

  font-weight: 600;
  /* マウスカーソルの変更 */
  cursor: pointer;
  margin: 10px 0; /* 外側の余白*/
  transition: all 0.3s; /* 状態が変わった時の変化する時間を指定する*/

  &.slide-bg {
    // position:absolute とは、移動するときの基準が親要素となる。
    position: relative;
    // ボタンの枠からはみだした要素を非表示とする
    overflow: hidden;
    & span {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      position: absolute; // 絶対位置
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.3s;
      z-index: -1;
    }
    &:hover {
      color: white;
      & span {
        transform: none;
      }
    }
  }
}
