.tableArea {
  border-collapse: collapse;
  border: none;

  &__hour {
    margin: 0;
    border: 1px solid black;
    min-width: 50px;
    min-height: 20px;
    
  }
  &__minute {
    height: 2rem;
    border: 1px solid gray;
    background:red;
    z-index: 2;
  }
}
